<hr
<div style = "margin-left:50px">
	<ul>
		<li><%= link_to_unless_current "Users",  admin_users_path  %></li>
       	<li><%= link_to_unless_current "Categories",  admin_categories_path %></li>
        <li><%= link_to_unless_current "Products",  admin_products_path %></li>
	</ul>	
</div>
</hr>